/* for the landing page*/

.MainLanding {
    text-align: center;
}

.secret {
    text-align: center;
    color: #ffffff
}

.failed {
    text-align: center;
    color: #b40000
}

/*Buildong block elements*/
.containertype01 {
    text-align: center;
    background-color: #e6e6e6;
    width: 25%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
}

.grey_container {
    background-color: #e6e6e6;
    width: 60%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}



.containertype_blue {
    text-align: right;
    background-color: #0003c2;
    color: #ffffff;
    width: 25%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
}



.containertype_windowsblue {
    text-align: left;
    background-color: #0731ec;
    color: #ffffff;
    border-radius: 5px;
    width: 65%;
    padding: 5px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
}




.beige_container {
    background-color: #d8ddb8;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


/* To hold the cassette*/

.beige_container_cassette {
    background-color: #d8ddb8;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cassette_blue {
    text-align: right;
    background-color: #0003c2;
    color: #ffffff;
    width: 42%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
}

.windowsGreenButton {
    background-color: #009e3d;
    color: #ffffff;
    border-radius: 2px;
    padding: 20 px;
    width: 5%;
    height: 30px;
}

.redButton {
    background-color: #a50000;
    color: #ffffff;
    border-width: 5px;
}

.greyButton {
    background-color: #d2d4cb;
    color: #000000;
    border-width: 2px;
}

.greyButton:hover {
    background-color: #e2e4db;
    color: #000000;
    border-width: 2px;
    cursor: pointer;
}

.redButton:hover {
    background-color: #c90000;
    color: #ffffff;
    border-width: 5px;
    cursor: pointer;
}

.greenButton {
    background-color: #00862d;
    color: #ffffff;
    border-width: 5px;
}

.greenButton:hover {
    background-color: #00b93e;
    color: #ffffff;
    border-width: 5px;
    cursor: pointer;
}

/*Everything needed for the 'MyVidz' video sharing platform*/

.h1MyVidz {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.videoTitlesHP {
    color: #214aff;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.videoDescriptions {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.videoFrom {
    text-decoration: underline;
    color: #214aff;
}

.containertype_green {
    text-align: left;
    background-image: linear-gradient(to bottom right, rgb(15, 160, 15), rgb(171, 243, 83));
    color: #ffffff;
    height: 50px;
    width: 725px;
    padding: 15px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
}

.searchbar {
    text-align: left;
    background-image: linear-gradient(to bottom right, rgb(15, 160, 15), rgb(171, 243, 83));
    color: #ffffff;
    height: 30px;
    width: 250px;
    padding: 15px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
}


.youTubeContainer {
    background-color: #e6e6e6;
    border-radius: 10px;
    width: 750px;
    height: 600px;
    padding: 10px;
    border: 1px solid #929292;
    box-shadow: inset -1px -1px #6e6e6e, inset 1px 1px 0 #636363;
    margin: 0, auto;
}


.sidepanel_secondppageBased {
    background-color: #e6e6e6;
    border-radius: 10px;
    width: 100px;
    height: 500px;
    padding: 20px;
    border: 1px solid #929292;
    box-shadow: inset -1px -1px #6e6e6e, inset 1px 1px 0 #636363;
    margin: 0, auto;
}

.youTubeVideoContainer {
    background-color: #ffffff;
    padding: 10px;
    margin: 0, auto;
    display: flex;
    align-items: left;
    flex-direction: column;

}

.recommendedContainer {
    max-width: 500px;
    background-color: "#6e6e6";
    padding: 20px;
    border: 5px solid;
    border-image: linear-gradient(to bottom right, rgb(15, 160, 15), rgb(171, 243, 83)) 1;
    margin: 0, auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.recommendedTextContainer {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #d4ffdc;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, rgb(15, 160, 15), rgb(171, 243, 83));
    padding: 10px;
    margin: 0, auto;
    display: flex;
    align-items: center;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    border: 2px solid #84b9ff;
    background-color: #bfedff;
    padding: 20 px;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #003d8d;
    cursor: pointer;
}


.navBar:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    border: 2px solid #84b9ff;
    background-color: #dcf6ff;
    padding: 20 px;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: #003d8d;
    cursor: pointer;
}


.video_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50 px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color: #003d8d
}

.youTubeLandingOrganizer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    height: 30vh;
    align-items: start;
    flex-wrap: wrap;

}

.videoContainer {
    display: inline-block;
}

.commentcontainer {
    background-color: #ffffff;
    text-align: left;
    height: fit-content;
    padding: 5px;
    border: 1px solid #929292;
    border-radius: px;
    box-shadow: inset -1px -1px #6e6e6e, inset 1px 1px 0 #636363;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.videoDescriptionContainer {
    background-color: #d3d3d3;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

/*note: TEST container is used to center other elements, though I have used it too often to rename it*/
.TESTContainer {
    display: flex;
    align-items: center;
    justify-content: center
}

/*Subscriptions related styling*/

.youTubeContainer_subscriptions {
    background-color: #e6e6e6;
    border-radius: 10px;
    width: 750px;
    height: 400px;
    padding: 10px;
    border: 1px solid #929292;
    box-shadow: inset -1px -1px #6e6e6e, inset 1px 1px 0 #636363;
    margin: 0, auto;
}

.youTubeLandingOrganizer_subscriptions {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    height: 30vh;
    align-items: start;
    flex-wrap: wrap;

}



/*Windows home screen for the cat path*/
.grey_container_meow {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b1b1b1;
    width: 480px;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/*95 Screen wallpaper*/
.windows_screen95 {
    background-image: url("Assets/windows95.jpg");
    position: fixed;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: -8px 0 0 -6px;
    display: flex;
    flex-direction: column;
}



/*All the stuff needed for Riotpath_end*/
.grey_container_music {
    background-color: #e6e6e6;
    width: 80%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;

}




/*Popup modified from w3 schools*/
/* Popup container Popup */
.popup {
    display: inline-block;
    cursor: pointer;
}

/* the popup*/
.beige_container_popup {
    visibility: hidden;
    background-color: #d8ddb8;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}





.containertype_blue_popup {
    visibility: hidden;
    text-align: right;
    background-color: #0003c2;
    color: #ffffff;
    width: 25%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
}

.windows_screen {
    background-image: url("Assets/bliss.jpg");
    position: fixed;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: -8px 0 0 -6px;
    display: flex;
    flex-direction: column;
}


.containertype_riotblue {
    text-align: right;
    background-color: #0003c2;
    color: #ffffff;
    width: 80%;
    padding: 20px;
    border: 4px solid "black";
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;

}

/*the blue bar displaying time to go on the Bliss Background*/
.windowshome_bluetime {
    text-align: center;
    background-color: #3180ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    border-radius: 5px;
    border-color: #214aff;
    height: 45px;
    width: 15%;
    padding: 0px;
    box-shadow: inset 0px 5px 10px 0px rgba(188, 226, 255, 0.876);
    margin: auto;
    float: right;
    bottom: 0;

}

.windowshome_bluetime:hover {
    text-align: center;
    background-color: #2867cd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border-color: #214aff;
    height: 45px;
    width: 15%;
    padding: 0px;
    box-shadow: inset 0px 5px 10px 0px rgba(188, 226, 255, 0.876);
    margin: auto;
    float: right;
    bottom: 0;
}

/*the blue bar to go on the Bliss Background*/
.windowshome_blue {
    text-align: left;
    background-color: #2449f1;
    color: #ffffff;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    padding: 0px;
    box-shadow: inset 0px 5px 10px 0px rgba(101, 188, 255, 0.5);
    margin: auto;
    position: absolute;
    bottom: 0;

}


.windowshome_start {
    background-image: url("Assets/xpstart.png");
    color: transparent;
    height: 50px;
    width: 50px;
}

.windowshome_start:hover {
    background-image: url("Assets/xpstart_pressed.png");
    cursor: pointer;
    color: transparent;
    height: 50px;
    width: 50px;
}

.windows_xp_buttonStyle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 120px;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: inset 0px 3px 5px 0px rgba(20, 152, 253, 0.5);
    background-color: #eaead1;
    padding: 10 px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.windows_xp_buttonStyle:hover {
    display: flex;
    align-items: center;
    text-align: center;
    width: 120px;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: inset 0px 3px 5px 0px rgba(15, 132, 222, 0.5);
    background-color: #ffffe4;
    padding: 10 px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* for windows 95*/
.windowshome_time95 {
    text-align: center;
    background-color: #9a9a9a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    border-radius: 0px;
    height: 45px;
    width: 15%;
    padding: 0px;
    margin: auto;
    box-shadow: inset -4px -4px #393939, inset 4px 4px 0 #e4e4e4;
    float: right;
    bottom: 0;

}

.windowshome_time95:hover {
    text-align: center;
    background-color: #c3c3c3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    border-radius: 0px;
    height: 45px;
    width: 15%;
    padding: 0px;
    margin: auto;
    box-shadow: inset -4px -4px #393939, inset 4px 4px 0 #e4e4e4;
    float: right;
    bottom: 0;
}

/*everything neede for windows 95*/
.windowshome_95bar {
    text-align: left;
    background-color: #ababab;
    color: #ffffff;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    padding: 0px;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #e4e4e4;
    margin: auto;
    position: absolute;
    bottom: 0;

}

.grey_container_popup {
    visibility: hidden;
    background-color: #afafaf;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    box-shadow: inset -4px -4px #444444, inset 4px 4px 0 #ffffff;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.windows_95_buttonStyle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80px;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: inset -1px -1px #444444, inset 2px 2px 0 #ffffff;
    background-color: #b5b5b5;
    padding: 20 px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.windows_95_buttonStyle:hover {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80px;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: inset -1px -1px #9c9c9c, inset 2px 2px 0 #ffffff;
    background-color: #e3e3e3;
    padding: 20 px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}